
.btn button {
    font-size: 30px;
    padding-bottom: 50px;
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
}

#btn1 {
    margin-right: 50px;
    margin-left: 200px;
}

#btn2 {
    margin-left: 120px;
}

