<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h1>
    GOOOGLE KEEP
  </h1>
</div> -->

<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Gooogle Keep</span>
    </mat-toolbar-row>
</mat-toolbar>

<div class="btn">
  <button routerLink="/get" mat-stroked-button color="warn" id="btn1">Show All Notes</button>
  <button routerLink="/post" mat-stroked-button color="primary" id="btn2">Create New Note</button>
</div>

<router-outlet></router-outlet>
